<a href="https://colab.research.google.com/github/ThalyaGIT/UK-Music-Index-Returns/blob/main/3_data-analysis_notebooks/UK_Music_Happiness_and_Index_Returns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import packages
import pandas as pd
import statsmodels.api as sm
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from tabulate import tabulate

In [2]:
# Open CSV into dataframe
url_1_day = 'https://raw.githubusercontent.com/ThalyaGIT/UK-Music-Index-Returns/main/0-data-gold/data_1_days.csv'
url_3_day = 'https://raw.githubusercontent.com/ThalyaGIT/UK-Music-Index-Returns/main/0-data-gold/data_3_days.csv'
url_5_day = 'https://raw.githubusercontent.com/ThalyaGIT/UK-Music-Index-Returns/main/0-data-gold/data_5_days.csv'
url_10_day = 'https://raw.githubusercontent.com/ThalyaGIT/UK-Music-Index-Returns/main/0-data-gold/data_10_days.csv'
url_20_day = 'https://raw.githubusercontent.com/ThalyaGIT/UK-Music-Index-Returns/main/0-data-gold/data_20_days.csv'

df_1_day = pd.read_csv(url_1_day)
df_3_day = pd.read_csv(url_3_day)
df_5_day = pd.read_csv(url_5_day)
df_10_day = pd.read_csv(url_10_day)
df_20_day = pd.read_csv(url_20_day)

# # Attempt to convert the 'Date' column to datetime, coercing errors to NaT (Not a Time)
df_1_day['Date'] = pd.to_datetime(df_1_day['Date'], errors='coerce')

# **Next Period**

In [9]:
import pandas as pd
from tabulate import tabulate

# Initialize an empty list to store results
results = []

indices = ['GILT2', 'FTSE100', 'MSCIUK', 'FTSEAllShare', 'FTSE250', 'FTSESmallCap','FTSEAIM']
days_list = [1, 3, 5, 10, 20]

for days in days_list:
    result_row = [days]
    for index in indices:
        df = globals()[f'df_{days}_day']  # Dynamically access each DataFrame

        # Ensure 'Date' column is in datetime format
        df['Date'] = pd.to_datetime(df['Date'])

        y = df[f'Next % {index} Change']
        X = df[['Change in SWAV',
                'ADS_Change',
                'EPU_Change',
                f'% {index} Change',
                'Next % MSCI Change',
                'Vix Close',
                'Rolling_Avg_Change_in_DCC',
                'Stringency_Change']]

        X = sm.add_constant(X)
        model = sm.OLS(y, X).fit()

        coef = round(model.params['Change in SWAV'], 2)
        p_value = round(model.pvalues['Change in SWAV'], 5)

        result_row.extend([coef, p_value])  # Make sure you add both coef and p-value

    # Append the result row for this combination of days
    results.append(result_row)

# Define column names dynamically
columns = ['Days']
for index in indices:
    columns.extend([f'{index} Coef', f'{index} P-value'])  # Ensure you have columns for both coef and p-value

# Convert the results list to a DataFrame
results_df = pd.DataFrame(results, columns=columns)

# Define a function to apply the styling
def color_rows(row):
    colors = []
    for i in range(1, len(row), 2):  # Skip Days, then iterate through Coefs and P-values
        coef = row[i]
        p_value = row[i+1]
        if p_value < 0.1:  # Consider p-values < 0.1 as significant
            if coef > 0:
                colors.extend(['background-color: green', ''])
            elif coef < 0:
                colors.extend(['background-color: red', ''])
        else:
            colors.extend(['background-color: #d3d3d3', ''])  # Use a lighter grey color
    return [''] * 1 + colors  # No coloring for Days

# Apply the function to each row of the DataFrame
styled_df = results_df.style.apply(color_rows, axis=1)

# Display the styled DataFrame
styled_df

<ipython-input-9-6d80f0645396>:51: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  coef = row[i]
<ipython-input-9-6d80f0645396>:52: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  p_value = row[i+1]

In [4]:
import pandas as pd
from tabulate import tabulate

# Initialize an empty list to store results
results = []

indices = ['GILT2', 'FTSE100', 'MSCIUK', 'FTSEAllShare', 'FTSE250', 'FTSESmallCap','FTSEAIM']
days_list = [1, 3, 5, 10, 20]
years_list = range(2017, 2023)  # Years from 2017 to 2022

for year in years_list:
    for days in days_list:
        result_row = [year, days]
        for index in indices:
            df = globals()[f'df_{days}_day']  # Dynamically access each DataFrame

            # Ensure 'Date' column is in datetime format
            df['Date'] = pd.to_datetime(df['Date'])
            # Filter for the specific year
            df_filtered = df[df['Date'].dt.year == year]

            y = df_filtered[f'% {index} Change']
            X = df_filtered[['Change in SWAV',
                             'ADS_Change',
                             'EPU_Change',
                             f'Previous % {index} Change',
                             '% MSCI Change',
                             'Vix Close',
                             'Rolling_Avg_Change_in_DCC',
                             'Stringency_Change']]

            X = sm.add_constant(X)
            model = sm.OLS(y, X).fit()

            coef = round(model.params['Change in SWAV'], 2)
            p_value = round(model.pvalues['Change in SWAV'], 5)

            result_row.extend([coef, p_value])

        # Append the result row for this combination of year and days
        results.append(result_row)

# Define column names dynamically
columns = ['Year', 'Days']
for index in indices:
    columns.extend([f'{index} Coef', f'{index} P-value'])

# Convert the results list to a DataFrame
results_df = pd.DataFrame(results, columns=columns)

# Define a function to apply the styling
def color_rows(row):
    colors = []
    for i in range(2, len(row), 2):  # Skip Year and Days, then iterate through Coefs and P-values
        coef = row[i]
        p_value = row[i+1]
        if p_value < 0.05:  # Consider p-values < 0.05 as significant
            if coef > 0:
                colors.extend(['background-color: green', ''])
            elif coef < 0:
                colors.extend(['background-color: red', ''])
        else:
            colors.extend(['background-color: grey', ''])
    return [''] * 2 + colors  # No coloring for Year and Days

# Apply the function to each row of the DataFrame
styled_df = results_df.style.apply(color_rows, axis=1)

# Display the styled DataFrame
styled_df

<ipython-input-4-30a496656b52>:55: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  coef = row[i]
<ipython-input-4-30a496656b52>:56: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  p_value = row[i+1]